body{
	background-color: #e6e6e6;
}

@media (min-width: 992px) {
	.backgroundBorder {
		border-color: #00004c;
		border-style: solid;
		border-width: 0.5em;
		margin-top: 5%;
		margin-bottom: 5%;
		min-height: 30em;
	}

	.coluna:before {
		display: block;
		position: absolute;
		top: 2em;
		left: 100%;
		content: '';
		height: calc(100% - 4em);
		min-height: calc(30em - 5em);
		width: 0.3em;
		background-color: #00004c;
	}

	.imagem {
		margin-top: 3em;
		width: 100%;
	}

	.element {
	  position:fixed;
	  bottom:calc(28% - 4em);
	  width:100%;
	}

	.caminho{
		color:#00004c;
		font-size: 1.5em;
		margin: 1em;
	}
}

.linha{
	position: absolute;
	bottom: 0;
}

.container{
	position: relative !important;
}

@media (max-width: 992px) {
	.backgroundBorder {
		border-color: #00004c;
		border-style: solid;
		border-width: 0.5em;
		margin-top: 5%;
		margin-bottom: 5%;
		min-height: 39em;

	}
	.coluna:before{
		display: block;
		position: absolute;
		top: 100%;
		left: 2em;
		content: '';
		width: calc(100% - 4em);
		height: 0.3em;
		background-color: #00004c;
	}

	.imagem {
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.element {
	  position:fixed;
	  bottom:3%;
	  width:100%;
	}

	.caminho{
		@include float-right;
		color:#00004c;
		font-size: 0.9em;
		margin: 0.5em;
	}
}