@media (min-width: 992px) {
    .bigButton {
        background-color: #e6e6e6;
        border-style: solid;
        border-width: 0.1em;
        border-color: #00004c;
        color: #00004c;
        padding: 0 0.45em 0.1em 0.45em;
        text-decoration: none;
        font-size: 4em;
        margin: 0.3em 0.3em;
        border-radius: 50%;
        cursor: pointer;
    }

    .bigButton:hover{
        background-color: #00004c;
        color: #e6e6e6;
    }
}


@media (max-width: 992px) {
    .bigButton {
        background-color: #e6e6e6;
        border-style: solid;
        border-width: 0.1em;
        border-color: #00004c;
        color: #00004c;
        padding: 0 0.45em 0.1em 0.45em;
        text-decoration: none;
        font-size: 2em;
        margin: 0.25em 0.25em;
        border-radius: 50%;
        cursor: pointer;
    }

    .bigButton:hover{
        background-color: #00004c;
        color: #e6e6e6;
    }
}

.btn-primary{
    background-color: #00004c !important;
    border-color: #00004c !important;
}

.btn-outline-primary{
    border-color: #00004c !important;
    color: #00004c !important;
}

.btn-outline-primary:hover{
    background-color: #00004c !important;
    color:white !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: #0000e6 !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: #0000e6 !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus{
    box-shadow: #0000e6 !important;
}

.btn-primary:focus, .btn-primary.focus{
    box-shadow: #0000e6 !important;
}


.smallButton {
    background-color: #e6e6e6;
    border-style: solid;
    border-width: 0.25em;
    border-color: #00004c;
    color: #00004c;
    padding: 0 0.5em;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0.5em 0.5em 0.5em 0;
    border-radius: 100%;
    cursor: pointer;
}

.smallButton:hover{
    background-color: #00004c;
    color: #e6e6e6;
}